.logo {
    padding: 15px;
    margin: 5px;
}

#carro-vacio {
    color: blue;
    font-size: 3rem;
}

#aun-no-tienes-articulos {
    font-size: 2rem;
}

.carrito-font-size {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.tarjeta-de-producto {
    box-sizing: content-box;
    max-width: 250px;
    height: 625px;
    padding: 10px;
    margin: 10px;
    border: 2px orange solid;
    background-image:url(fondo-para-productos.jpg) ;
   
}

.Numero-De-Precio {
    color: azure;
    background-color: black;
    text-align: center;
    border-bottom: 5px orange solid;
}

#div-de-productos {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, grey, white);
    justify-content: center;
    align-items: center;
    align-content: center;
}


header {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: azure;
    justify-content: center;
    align-items: center;
}

h1 {
    align-content: center;
}

p {
    font-family: "Oswald";
}

footer {
    background-color: blue;
    font-family: cursive;
}

nav > ul {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    color: azure;
}

li {
    margin: 10px;
}

.Mapa-De-Sucursales {
    width: 100%;
}

.Comunidad-EcoNutricion {
    background-image: linear-gradient(to bottom right, grey, white);
    display: flex;
    justify-content: center;
    align-content: center;
}

.Comunidad-EcoNutricion iframe { 
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9;  }

.Border-Bottom-Naranja {
    border-bottom:5px orange solid ;
}

h2, h3 {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border-bottom:5px orange solid ;
    }


.Productos {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, grey, white);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Box-De-Producto {
    box-sizing: content-box;
    padding: 10px;
    margin: 10px;
    border: 2px orange solid;
    background-image:url(fondo-para-productos.jpg) ;
}
  

 .Reseñas {
    display: grid;
    width: 100%;
    height: 15%;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    background-image: linear-gradient(to bottom right, grey, white);
    font-family: 'Times New Roman', Times, serif;
 }
 .Reseña-1 {
    grid-column-start: 2;   
    grid-column-end: 3;
 }
 .Reseña-2 {
    grid-column-start: 3;
    grid-column-end: 4;
 }
 .Reseña-3 {
    grid-column-start: 4;
    grid-column-end: 5;
 }


 .Form-EcoNutricion {
    display: inline-flex;
    flex-direction: column;
 }

 .Background-Form-EcoNutricion {
    background-image: linear-gradient(to bottom right, grey, white);
    color: white;
 }
    
 footer {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    border-top: 5px orange solid
 }

 @media only screen and (max-width: 600px) {
    #div-de-productos{flex-direction: column;}
    
 } 

 @media only screen and (max-width: 600px){
    .Reseñas{grid-template-columns: 1fr;}   
    .Reseña-1,.Reseña-2,.Reseña-3{grid-column-start: 1;grid-column-end: 1;}
 }

 @media only screen and (max-width: 600px) {
    .Productos{flex-direction: column;}
    
 } 

 @media only screen and (max-width: 600px) {
    .Comunidad-EcoNutricion{flex-direction: column;}
    
 } 

 @media only screen and (max-width: 600px) {
    .Reseñas{
        display: flex;
        flex-direction: column;}
} 


@media only screen and (max-width: 600px) {
    #IdDeMenu{
        display: flex;
        flex-direction: column;}    
} 

@media only screen and (min-width: 601px) {
    header {
        position: sticky;
        flex-direction: row;
        }
}
